<!DOCTYPE html>
<html>
<head>
  <title>Editor POC</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div>
      <h3>Teeter</h3>
      <ul>
        <teet v-for="node in nodes"
          v-if="node.type === 'builtin://Note' && node.parent === null"
          :node="node"
          :nodes="nodes"
          :selected="selected"
          :key="node.id"
          @select="select($event)"
          @publish="publish($event)"
        ></teet>
        <teet-writer v-if="selected === null"
          @publish="publish($event)"
        ></teet-writer>
      </ul>
    </div>

    <hr>

    <div>
      <h3>Nodes</h3>
      <ul>
        <li v-for="node in nodes">
          <button v-on:click="select(node)">{{node.id}}</button>
          <ul>
            <li>type: {{node.type}}</li>
            <li v-for="val, key in node" v-if="key !== 'type' && key !== 'id'">
              {{key}}: {{val}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
